<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment value="favorites">
      <ion-segment-button value="favorites">
        <ion-label>cert</ion-label>
      </ion-segment-button>
      <ion-segment-button >
        <ion-label>ex laboral</ion-label>
      </ion-segment-button>
      <ion-segment-button >
        <ion-label>mis datos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<div class="bienve">
  <h1>
    BIENVENIDO!
  </h1>
</div>

<div class="entrada">
  <p>Usuario: {{username}}</p>
</div>

<div class="subt">
  <h2>
    Informacion Adicional
  </h2>
</div>

<ion-card-content>
  <form #miFormulario="ngForm">
    <ion-item [ngClass]="{'slide-animation': animacionActiva}">
      <ion-label >Nombre:</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="formData.nombre" ></ion-input>
    </ion-item>

    <ion-item [ngClass]="{'slide-animation': animacionActiva}">
      <ion-label class="animate-input">Apellido:</ion-label>
      <div>
        <ion-input type="text" name="apellido" [(ngModel)]="formData.apellido"></ion-input>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Nivel educacional:</ion-label>
      <div>
        <ion-select name="nivel_educacional" [(ngModel)]="formData.nivel_educacional">
          <ion-select-option value="primaria">Basica</ion-select-option>
          <ion-select-option value="secundaria">Media</ion-select-option>
          <ion-select-option value="preparatoria">Superior</ion-select-option>
        </ion-select>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de nacimiento:</ion-label>
      <ion-input type="date" name="fecha" [(ngModel)]="formData.fecha"></ion-input>
<!--       <input matInput [matDatepicker]="picker" name="fecha" [(ngModel)]="formData.fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
    </ion-item>

    <ion-button class="dos" (click)="mostrarDatos()">Mostrar</ion-button>
    <ion-button class="dos" (click)="limpiarCampos()">Limpiar</ion-button>
  </form>
</ion-card-content>
<br>

<ion-button expand="full" (click)="logout()">Cerrar Sesión</ion-button>

<ion-footer>
  <ion-toolbar>
    <p>App desarrollada por Christopher Lhoest</p>
  </ion-toolbar>
</ion-footer>