<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      Página no encontrada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >
  <ion-img src="/assets/imagenes/ups.png"></ion-img>
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">
        Sorry!!!
      </ion-title>
    </ion-toolbar>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button [routerLink]="['/tabs/tab1']" routerLinkActive="router-link-active" class="ion-margin-top">
    <ion-icon name="home" slot="end"></ion-icon>
    Volver al Home
  </ion-button>
</ion-footer>
